<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width">
    
    <!-- Custom Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    
  </head>
  <body>
    <header>
      <a href="/">
        <h1 class="title active drk">
          {{ site.name }}
        </h1>
      </a>
      <nav>
        <ul>
          <li class="item ">
            <a href="/">
              Home
            </a>
          </li>
          <li class="item ">
            <a href="/posts/">
              Posts
            </a>
          </li>
          <li class="item ">
            <a href="/about/">
              About
            </a>
          </li>
        </ul>
      </nav>
    </header>
    
    {{ content }}
    <hr>
<footer>
&#169 {{ site.author }}
</footer>
   
  
</body>
</html>
