---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>

  <!-- author section -->
  {% if page.author %}
    {% if page.author-twitter %}
  <div align="right">by <a class="fa fa-twitter" href="{{ page.author-twitter }}">{{ page.author }}</a></div>
    {% else %}
  <div align="right">by {{ page.author }}</div>
    {% endif %}
  {% endif %}
  </br>

  <!-- Share links section -->
  <div align="left">{% include share.html %}</div>
  </br>

  {% for post in site.posts %}
    {% if post.url != page.url %}
      {% for tag in page.tags %}
        {% if post.tags contains tag %}

  <div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
      {% for post in site.posts %}
        {% if post.url != page.url %}
          {% for tag in page.tags %}
            {% if post.tags contains tag %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

        {% endif %}
      {% endfor %}
      {% break %}
    {% endif %}
  {% endfor %}

  
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
